html
  head
    title Medicine List
    link(rel="stylesheet", href="/styles/medicines.css")
  body
    .container
      h1 Medicine List
      if successMessage
         .success-message
         p= successMessage
      table
        thead
          tr
      
            th Name
            th DistributorEmail
            th DistributorAddress
            th Variety
            th Edit 
            th Delete 
        tbody
          each user in users
            tr
              td= user.name
              td= user.email
              td= user.address
              td= user.variety
              td 
                form.edit-form(action=`/medicines/edit-form/${user.id}`, method="post")
                  button.edit(type='submit') Edit 
              td.delete-cell
                button.delete(type='submit',onclick=`deleteMedicine('${user.id}')`) Delete
                
      a.add(href='/medicines/add-form') Add new medicine

script.
  function deleteMedicine(userId) {
    if (confirm('Are you sure you want to delete this medicine?')) {
      console.log(userId);
      fetch(`/medicines/${userId}`, {
        method: 'DELETE',
      })
      .then(response => {
        if (response.ok) {
          location.reload();
        } else {
          alert('Error deleting medicine');
        }
      })
      .catch(error => {
        console.error('Error deleting medicine', error);
        alert('Error deleting medicine');
      });
    }
  }