html
  head
    title Add Medicine Form
    link(rel='stylesheet', href='/styles/add-user.css')

  body
    .container
      form.add-user-form
        h2 Update Medicine 
        label(for='name') Name
        input#name(type='text', name='name', placeholder='Enter name', value=`${user.name}`,required)
        label(for='email') DistributorEmail
        input#email(type='email', name='email', placeholder='Enter email', value=`${user.email}`, required )
        label(for='address') DistributorAddress
        input#address(type='text', name='address', placeholder='Enter address', value=`${user.address}`, required)
        label(for='type') Type
        input#type(type="text")(type='text', name='type', placeholder='Enter type', value=`${user.type}`, required)
      button.update-button(type='submit' onclick=`updateUser('${user.id}')`) Update Medicine
script.
  function updateUser(userId) {
    console
    if (confirm('Are you sure you want to update this medicine?')) {
      const form = document.querySelector('.add-user-form');
    const name = form.querySelector('#name').value;
    const email = form.querySelector('#email').value;
    const address = form.querySelector('#address').value;
    const type = form.querySelector('#type').value;
    const body = { name, email, address, type };
     fetch(`/users/${userId}`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(body)
    })
      .then(response => {
        if (response.ok) {
          alert('Successfully updated')
          location.href='/users';
        } else {
          alert('Error Updating medicine');
        }
      })
      .catch(error => {
        console.error('Error updating medicine', error);
        alert('Error updating medicine');
      });
    }
  }