html
  head
    title Add Medicine Form
    link(rel='stylesheet', href='/styles/add-medicine.css')

  body
    .container
      form.add-medicine-form
        h2 Update Medicine 
        label(for='name') Name
        input#name(type='text', name='name', placeholder='Enter name', value=`${user.name}`,required)
        label(for='email') DistributorEmail
        input#email(type='email', name='email', placeholder='Enter email', value=`${user.email}`, required )
        label(for='address') DistributorAddress
        input#address(type='text', name='address', placeholder='Enter address', value=`${user.address}`, required)
        label(for='variety') Variety 
        input#variety(type='text', name='variety', placeholder='Enter variety', value=`${user.variety}`, required)
      button.update-button(type='submit' onclick=`updateMedicine('${user.id}')`) Update Medicine
script.
  function updateMedicine(userId) {
    console
    if (confirm('Are you sure you want to update this medicine?')) {
      const form = document.querySelector('.add-medicine-form');
    const name = form.querySelector('#name').value;
    const email = form.querySelector('#email').value;
    const address = form.querySelector('#address').value;
    const variety = form.querySelector('#variety').value;
    const body = { name, email, address, variety };
     fetch(`/medicines/${userId}`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(body)
    })
      .then(response => {
        if (response.ok) {
          alert('Successfully updated')
          location.href='/medicines';
        } else {
          alert('Error Updating medicine');
        }
      })
      .catch(error => {
        console.error('Error updating medicine', error);
        alert('Error updating medicine');
      });
    }
  }